<h1>하하하하하하하하 소통하러 왔구나?</h1>
<form action="/sns/create" method="post">
     <div class="form-group">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="EXID 짱짱" name="content" required>
    </div>
     <button type="submit" class="btn btn-primary">제출</button>
</form>

