<!DOCTYPE html>
<html>
  <head>
    <style>
      .head2{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      #tag1{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
       #tag2{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
       #tag3{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
       #tag4{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
      
       #tag5{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
       #tag6{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
       #tag7{
        
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
    </style>
    
  </head>
  <body>
    <h1>오늘의 라인업</h1>
    
    <div class="container-fluid bg-1 text-center">
      <p class="head2">
        <img class="img_map" src="/assets/전체지도2.jpg" width=800px height=500px>
      </p>
    </div>
    <div class="container-fluid bg-3 text-center" id="tag1">
      <h1>공과대학 주점 목록</h1>
      <img class="img_map" src="/assets/전체지도2.jpg" width=800px height=500px>
      <br>
      <br>
      
    </div>
    <hr>
    <div class="container-fluid bg-3 text-center" id="tag2">
      <h1>외국어대학 주점 목록</h1>
      <img class="img_map"  src="/assets/전체지도2.jpg" width=800px height=500px>
      <br>
      <br>
      
    </div>
    <hr>
    <div class="container-fluid bg-3 text-center" id="tag3">
      <h1>체육대학 주점 목록</h1>
      <img class="img_map" src="/assets/전체지도2.jpg" width=800px height=500px>
      <br>
      <br>
      
    </div>
    <hr>
    <div class="container-fluid bg-3 text-center" id="tag4">
      <h1>생명과학대학 주점 목록</h1>
      <img class="img_map"  src="/assets/전체지도2.jpg" width=800px height=500px>
      <br>
      <br>
      
    </div>
    <hr>
    <div class="container-fluid bg-3 text-center" id="tag5">
      <h1>국제대학 주점 목록</h1>
      <img class="img_map"  src="/assets/전체지도2.jpg" width=800px height=500px>
      <br>
      <br>
      
    </div>
    <hr>
    <div class="container-fluid bg-3 text-center" id="tag6">
      <h1>전자정보대학 주점 목록</h1>
      <img class="img_map"  src="/assets/전체지도2.jpg" width=800px height=500px>
      <br>
      <br>
      
    </div>
    <hr>
    <div class="container-fluid bg-3 text-center" id="tag7">
      <h1>학생회관 주점 목록</h1>
      <img class="img_map"  src="/assets/전체지도2.jpg" width=800px height=500px>
      <br>
      <br>
      
    </div>
    <hr>
  </body>
  
  
</html>