<!DOCTYPE html>
<html>
  <head>
    <style>
   
      .btn-toolbar{
          padding:1px 5px 5px 1px;
          margin : -70px 10px 0px 400px;
          font-size : 100pt;
      }
      .line_up_img{
          position: relative;
          top:10px;
          left:250px;
      }
      .map_img{
              position: relative;
          top:20px;
          left:350px;
          bottom: 100px;
      }
    </style>
    
  </head>
  <body style="overflow-x:hidden">
    <h1 style="text-align:center; color:white; background-color:#c43b54;">오늘의 초대가수</h1>
    <br>
    <br>
    <div class="line_up_img">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18198181_762612433912482_9056164657770545039_n.jpg?oh=64765944b25b598536f64b3ca83ecd82&oe=59B86AE9" width=500px;>
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18301677_763117267195332_7096053715557585038_n.jpg?oh=89137518415c0f35bd6d77b0c7a74011&oe=59AFFAF4" width=500px;>
   </div>
      <br>
      <br>
              
    <h1 style="text-align:center; color:white; background-color:#c43b54; size=100px">주점 정보</h1>
     <div class="map_img">
            <img class="img_map" src="/assets/전체지도2.jpg" width=800px height=500px>
     </div>
       <br>
        <br>
      <br>
       <br>
      <br>
       <br>
      <br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <button type="button" class="btn btn-outline-danger">공과대학</button>
                <button type="button" class="btn btn-outline-danger">외국어대학</button>
                <button type="button" class="btn btn-outline-danger">생명과학대학</button>
                <button type="button" class="btn btn-outline-danger">멀티미디어관</button>
                <button type="button" class="btn btn-outline-danger">생명과학대학</button>
                <button type="button" class="btn btn-outline-danger">학생회관</button>
                <button type="button" class="btn btn-outline-danger">예술디자인대학</button>
                <button type="button" class="btn btn-outline-danger">국제대학</button>
                <button type="button" class="btn btn-outline-danger">전자정보대학</button>
            </div>
        </div>
  </body>
</html>