<!DOCTYPE html>
<html>
  <head>
    <style>
   
      .btn-toolbar{
          padding:1px 5px 5px 1px;
          margin : -70px 10px 0px 400px;
          font-size : 100pt;
      }
      .line_up_img{
          position: relative;
           width:100%;
           padding : 5px 5px 5px 5px;
          top:10px;
          left:250px;
      }
      .map_img{
              position: relative;
              max-width: 100%;
          top:20px;
          left:350px;
          bottom: 100px;
          height : auto;
      }
    </style>
    
  </head>
  <body style="overflow-x:hidden">
    <h1 style="text-align:center; color:white; background-color:#c43b54;">오늘의 초대가수</h1>
    <br>
    <br>
    <div class="line_up_img">
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18222633_764190107088048_7939118646994232108_n.jpg?oh=8df53050561597486e2f45a129da4c9a&oe=59A796C4";>
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18301875_764190123754713_3052837278616154040_n.jpg?oh=9d9baf7a2967ced1162d45f7c356f8cb&oe=597E57BC";>
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18195114_764712413702484_1392699077642776713_n.jpg?oh=0bb3f327a934558badfb4c714ef63659&oe=59BAD07D";>
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18301875_764190123754713_3052837278616154040_n.jpg?oh=9d9baf7a2967ced1162d45f7c356f8cb&oe=597E57BC";>
    </div>
      <br>
      <br>
              
    <h1 style="text-align:center; color:white; background-color:#c43b54; size=100px">주점 정보</h1>
     <div class="map_img">
            <img class="img_map" src="/assets/전체지도2.jpg" width=800px height=500px>
     </div>
       <br>
        <br>
      <br>
       <br>
      <br>
       <br>
      <br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <button type="button" class="btn btn-outline-danger">공과대학</button>
                <button type="button" class="btn btn-outline-danger">외국어대학</button>
                <button type="button" class="btn btn-outline-danger">생명과학대학</button>
                <button type="button" class="btn btn-outline-danger">멀티미디어관</button>
                <button type="button" class="btn btn-outline-danger">생명과학대학</button>
                <button type="button" class="btn btn-outline-danger">학생회관</button>
                <button type="button" class="btn btn-outline-danger">예술디자인대학</button>
                <button type="button" class="btn btn-outline-danger">국제대학</button>
                <button type="button" class="btn btn-outline-danger">전자정보대학</button>
            </div>
        </div>
  </body>
</html>