<!DOCTYPE html>
<html>
    
    
    
    <head>
        <style>
        .fest_info{
            margin-top: 100px;
        }
        
        .footer_class{
            text-align:center;
            background-color: #c43b54;
            color:white;
            font-size:20px;
        }
        .copyright{
            width:100px;
        }
        ul{ 
        list-style:none;
        }
        
        a:link{text-decoration:none;color:white;}
        a:visited{color:white;}
        a:hover{text-decoration:none;color:yellow;}
        </style>  
        
        
    </head>
    <body>
        
        
        <div class="container">
        <a href="/sns/main"><h1 style="color:black">실시간 소통 게시판 </h1></a>
        </div>
        
        
        
        <div class="fest_info">
            <div class="container-fluid bg-1 text-center">
                
                <p class="margin">
                    <span class="main-title">경희대학교 국제캠퍼스 축제 주점 정보</span>
                    <br>
                </p>
                <h3 class="#">2017.05.22 ~ 2017.05.26</h3>
                <br>
                <br>
                <br>
                <div class="stat margin">
                    <h3 class="margin-small">
                        지금까지 총[<span class="stat-count highlight"></span>
                        ]개의 주점이 등록되었습니다.
                    </h3>
                
                <div class="today_link">
                    <div class="container">
                <div class ="khu-card col-sm-4 col-xs-6"><img src="http://health.chosun.com/site/data/img_dir/2014/12/10/2014121002520_0.jpg"></div>
                <div class ="khu-card col-sm-4 col-xs-6"><img src="http://health.chosun.com/site/data/img_dir/2014/12/10/2014121002520_0.jpg"></div>
                <div class ="khu-card col-sm-4 col-xs-6"><img src="http://health.chosun.com/site/data/img_dir/2014/12/10/2014121002520_0.jpg"></div>
                <div class ="khu-card col-sm-4 col-xs-6"><img src="http://health.chosun.com/site/data/img_dir/2014/12/10/2014121002520_0.jpg"></div>
                <div class ="khu-card col-sm-4 col-xs-6"><img src="http://health.chosun.com/site/data/img_dir/2014/12/10/2014121002520_0.jpg"></div>
                <div class ="khu-card col-sm-4 col-xs-6"><img src="http://health.chosun.com/site/data/img_dir/2014/12/10/2014121002520_0.jpg"></div>
                     </div>
                </div>
                
                </div>
           
        </div>
            <footer class="footer_class">
                <b> 만든사람들 </b><br>
                    <p>"yes, Likelion & KHU."</p>
                        <ul>
                            <li>|
                                <a href="https://www.instagram.com/dongkwanyou/">유동관</a> |
                                <a href="https://www.facebook.com/jaekyeong.ryu">유재경</a> |
                                <a href="https://www.facebook.com/castle.in.5">류성한</a> |
                                <a href="https://www.facebook.com/profile.php?id=100003031083147">정준현</a> |
                                <a href="https://www.facebook.com/profile.php?id=100004224368058">김문석</a> |
                            </li>
                        </ul>
            </footer>
    </body>
    
</html>