<h1>회원가입</h1>
<%= form_tag users_path do %>
  이름 :
  <input type="text" name="name"><br>
  Email :
  <input type="email" name="email"><br>
  비밀번호 :
  <input type="password" name="password"><br>
  비밀번호 확인 :
  <input type="password" name="password_confirmation"><br>
  <input type="submit" value="Sign up">

<% end %>
