<h1>주점내역 작성하기</h1>
<br>
<form class="form-block" action="/club/create" method="POST">
  
  
  
    <div class="form-group">
      <label class="mr-sm-2" for="inlineFormCustomSelect">주점 날짜를 선택해주세요.</label>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="day">
        <option value="22">22일</option>
        <option value="23">23일</option>
        <option value="24">24일</option>
        <option value="25">25일</option>
        <option value="26">26일</option>
      </select>
    </div>
    
    <br>
  
    <label class="mr-sm-2" for="inlineFormCustomSelect">소속 단과 대학을 선택해주세요.</label>
    
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="univ_id">
      <option value="1">공과대학</option>
      <option value="2">외국어대학</option>
      <option value="3">예술대학</option>
      <option value="4">체육대학</option>
      <option value="5">국제대</option>
      <option value="6">자대</option>
      <option value="7">생대</option>
    </select>

  
  <!-- 
  <div class="form-group">
    <label for="formGroupExampleInput">소속 단과 대학 번호 입력</label>
    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="1. 공대 2. 외대 3. 예대 4. 체대 5. 국제대학 6.자대 7.생대"  name="univ_id" min="1" max="7" required>
  </div>
<br>  

    -->
    <div class="form-group">
      <label for="formGroupExampleInput">소속 학과 입력</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)컴퓨터공학과, 중앙동아리는 중앙동아리라고 적어주세요" name="major_name" required>
    </div>
    <br>
    
  <div class="form-group">
    <label for="formGroupExampleInput">동아리 이름</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)멋쟁이 사자처럼" name="club_name" required>
  </div>
<br>
  <div class="form-group">
    <label for="formGroupExampleInput">주점이름</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)흥청망청" name="bar_name" required>
  </div>
<br>
<br>

  <div class="form-group">
    <% case @univ_id  %>
    <%   when  1 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 23일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 24일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 25일 주점 지도출력-->
                    <% when 26 %>
                       <img src="/app/assets/images/26일공대.jpg" alt="주점지도">                        <!-- 공대 26일 주점 지도출력-->                       
              <% end %>
    <%   when 2 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!--  22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 3 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>              
    <%   when 4 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 5 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 6 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 7 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
              
    
    <% end %>
    
  </div>



<br>
  <div class="form-group">
    <label for="formGroupExampleInput">주점 위치</label>
    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="위의 지도를 보고 몇번에 위치해있는지 적어주세요." name="bar_location">
  </div>
<br>  
  <div class="form-group">
    <label for="formGroupExampleInput">주점 특징</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="다른 주점하고 뭐가 다른가요?" name="bar_feature">
  </div>

  
  <button type="submit" class="btn btn-primary">메뉴작성하러가기</button>
  <!-- 예외처리 해야함: 필수 사항(동아리 이름, 주점 이름, 주점 위치) 가 입력이 안되면 메뉴작성이 안되게 해야함-->
  
  
</form>
